<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("p").click(function(){
        $(this).hide();
    });
});

$(document).ready(function(){
	$("input").click(function(){
	    $.getJSON("/Home/SomeActionMethod?id=5",
		    function(data) {
		       $('#results').append("<li>" +JSON.stringify(data)+ "</li>");
		    }
		);
	});

	$('#post-json').click(function(){
			var userName = "peter.henell";
			var password = "hemligt";
		$.ajax("/Home/PostMethod", {
			
		    data : JSON.stringify({ "userName": userName, "password" : password }),
		    contentType : 'application/json',
		    type : 'POST',
		    success: function (data) {
		        alert(data.when); 
		        },
		    error: function(error) {
		    	alert(error);
		    }
		    });
	});
});

</script>
</head>
<body>


<input type="button" value="click me" />

<input type="button" id="post-json" value="post json" />

<form action="" method="post">
	<input type="submit" value="send" />
</form>

<div>
	<ol id="results"></ol>
</div>

</body>
</html>