<!DOCTYPE html>
<html>
<head>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script>
$(document).ready(function(){
    $("p").click(function(){
        $(this).hide();
    });
});

$(document).ready(function(){
	$("input").click(function(){
	    $.getJSON("/Home/SomeActionMethod?id=5",
		    function(data) {
		       $('#results').append("<li>" +JSON.stringify(data)+ "</li>");
		    }
		);
	});
});

</script>
</head>
<body>


<input type="button" value="click me" />

<form action="" method="post">
	<input type="submit" value="send" />
</form>

<div>
	<ol id="results"></ol>
</div>

</body>
</html>